@import'./Color.scss';
@import url('https://fonts.googleapis.com/css?family=Itim|Prompt&display=swap');

html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'Itim', cursive;

}
*:focus{
    outline: unset;

}
.user-navbar{
    display: inline-flex;
    width: 100%;
    height: 60px;
    background-color:$main-color;
    color: $second-color-text;
    justify-content: center;

 .set-user-navbar{
        display: flex;
        width: 1000px;
        justify-content: flex-end;

        color:$second-color-text;
        a{
            display: flex;
            color: $second-color-text;
           align-items: center;
            width: fit-content;
            justify-content: center;
            padding: 0 10px;
            height: 100%;

               }
       .active{
           border-bottom: 4px solid #aff;
           margin-bottom: 0px;
           display:inline-flex;
       }
        



    }
}
.set-page{
    display: block;
    width: 1000px;
    min-height: calc(100vh - 210px - 1rem);
    margin-bottom: 1rem;
    color: $second-color-text;
    margin: 0 auto 1rem auto;

}
// .user-footer{
//     display: flex;
//     background-color: $main-color;
//     color: $second-color-text;
//     font-size: 1rem;
//     width: 100%;
//     height: 150px;
// }

.cards{
    display: grid;
    background: #ff0000;
    height: 80px;
    width: 1200px;
    position: relative;
    border: 1px solid #0000;
    border-radius:1px ;
    .cards-img{
        width: 100%;
        height: 100%;
      
        img{
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
        
    
    }
    i{
        right: 5px;
        top:5px;
        position: absolute;
       }
    
    .cards-footer{
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        background-color: #ff0000;
        color: #fff;
        div{
            display: grid;
            grid-template-rows: auto auto;
            width: 100%;
            justify-content: center;
            align-items: center;
            &:first-of-type{
                background-color:yellow;
            }
            
    
        }
        strong{
            text-align: center;
            font-size: 1rem;
        }
    
}
.cards-header{
    display: block;
    position: center;
    margin-top: 10px;
    span,strong,p{
        display:flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        text-align: center;
    }
    strong{
        font-size :2rem;

    }
    p{word-break: break-word;

    }
 
}

}